@import url('https://fonts.googleapis.com/css?family=Limelight|Source+Sans+Pro:200,300,400,600,700,900');

body{
    margin: 0;
    padding: 0;
    font-family: 'Limelight', cursive;
}

/* Section */

section{
    position: relative;
    height: 100vh;
    display: flex;
    background: #0D0D0D;
}

section .screen{
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    transition: 1s;
}

section:hover .screen{
    opacity: 0.1;
}

section .screen:hover{
    flex-grow: 5;
    opacity: 1;
}

section .screen:nth-child(1){
    background: url(../img/01-rxmance.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(1):hover{
    background-size: cover;
}

section .screen:nth-child(2){
    background: url(../img/02-full-blxxd.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(2):hover{
    background-size: cover;
}

section .screen:nth-child(3){
    background: url(../img/03-wotm.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(3):hover{
    background-size: cover;
}

section .screen:nth-child(4){
    background: url(../img/04-til-the-end.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(4):hover{
    background-size: cover;
}

section .screen:nth-child(5){
    background: url(../img/05-breathe.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(5):hover{
    background-size: cover;
}

section .screen:nth-child(6){
    background: url(../img/06-impala.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

section .screen:nth-child(6):hover{
    background-size: cover;
}

section .screen .content{
    position: absolute;
    width: 400px;
    height: auto;
    background: #0D0D0D;
    padding: 40px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.5s;
    text-align: justify;
}

section .screen:hover .content{
    transform: translateX(0%);
    transition-delay: 1s;
}

section .screen .content h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
}

section .screen .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

section .screen .content a{
    color: #fff;
}

section .screen .content a:hover{
    color: #ab6be8;
    text-decoration: none;
    transition: 0.5s;;
}

/* MEDIA QUERIES */

@media screen and (max-width: 90em){
    section .screen .content h2{
        font-size: 28px;
    }

    section .screen:nth-child(1){
        background-size: 100%;
    }
    section .screen:nth-child(2){
        background-size: 100%;
    }
    section .screen:nth-child(3){
        background-size: 100%;
    }
    section .screen:nth-child(4){
        background-size: 100%;
    }
    section .screen:nth-child(5){
        background-size: 100%;
    }
    section .screen:nth-child(6){
        background-size: 100%;
    }
}

@media screen and (max-width: 70em){
    section .screen .content h2{
        font-size: 26px;
    }

    section .screen .content{
        position: absolute;
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 50em){
    section .screen .content h2{
        font-size: 24px;
    }

    section .screen .content{
        position: absolute;
        width: 200px;
        height: 200px;
    }

    section .screen:nth-child(1){
        background-size: cover;
    }
    section .screen:nth-child(2){
        background-size: cover;
    }
    section .screen:nth-child(3){
        background-size: cover;
    }
    section .screen:nth-child(4){
        background-size: cover;
    }
    section .screen:nth-child(5){
        background-size: cover;
    }
    section .screen:nth-child(6){
        background-size: cover;
    }
}